name: Build-Deploy-TO-ELB

### specify the event trigger
on:
  push:
    branches: 
      - main
  workflow_dispatch: 

jobs:

  build-test-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read 
      packages: write 
    steps:
    - name: clone repository
      uses: actions/checkout@v2
    - name: install java and setup maven
      uses: actions/setup-java@v3  
      with:
        distribution: 'adopt'
        java-version: '11'
     ### code analysis with sonarqube   
    - name: sonarqube analysis 
      run: mvn sonar:sonar -Dsonar.projectKey=${{secrets.SONAR_PROJECT_KEY}} -Dsonar.host.url=${{secrets.SONAR_HOST_URL}} -Dsonar.login=${{secrets.SONAR_LOGIN_TOKEN}}
    ### perform code build with maven
    - name: maven build
      run: mvn clean package 

    #### publish the artifact to an artifact repository(Github packages)....(((( where artifact are stored.....jfrog, aws code artifactory))))  
    - name: Upload to artifact repo 
      run: mvn --batch-mode deploy
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

   ### github actions should authenticate into aws using accesss key details provided      
    - name: Authenticate to AWS 
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{secrets.AWS_ACCESS_KEY}}
        aws-secret-access-key: ${{secrets.AWS_SECRET_KEY}}
        aws-region: ${{secrets.AWS_REGION}}  

    ### artifact should be copied into an s3 bucket 
     
    - name: Copy artifact to s3 
      run: aws s3 cp target/*war s3://xashywebapp-bucket
          
    - name: create an application version 
      run: |
        aws elasticbeanstalk create-application-version \
        --application-name xashy-webapp \
        --source-bundle S3Bucket="xashywebapp-bucket",S3Key="xashy-webapp.war" \
        --version-label "ver-${{ github.sha }}" \
        --description "commit-sha-${{ github.sha }}"

    - name: deploy the app to elastic beanstalk enviroment 
      run: aws elasticbeanstalk update-environment --environment-name xashy-webapp-prod --version-label "ver-${{ github.sha }}" --version-label "ver-${{ github.sha }}" 
          
       

